@layer colors {
  html {
    --c-white: hsl(0 100% 100%);
    --c-black: hsl(0 0% 0%);
    --c-grey-950: hsl(220 13% 13%);
    --c-grey-500: hsl(219 9% 45%);
    --c-grey-300: hsl(221 22% 81%);
    --c-grey-100: hsl(219 35% 92%);
    --c-grey-50: hsl(223 64% 98%);
    --c-orange-500: hsl(26 100% 55%);
    --c-orange-300: hsl(26 100% 71%);
  }
}

@layer spacing {
  html {
    --sp-100: 0.5rem; /* 8px */
    --sp-200: 1rem; /* 16px */
    --sp-300: 1.5rem; /* 24px */
    --sp-400: 2rem; /* 32px */
    --sp-500: 2.5rem; /* 40px */
    --sp-600: 3rem; /* 48px */
    --sp-700: 3.5rem; /* 56px */
    --sp-900: 4.5rem; /* 72px */
    --sp-1000: 5rem; /* 80px */
    --sp-1200: 6rem; /* 96px */
    --sp-1300: 6.5rem; /* 104px */
    --sp-1600: 8rem; /* 128px */
  }
}

/* 
  Font weights
  regular: 400
  bold: 700

*/

/* Reset & base styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* Main styles */
body {
  font-family: "Kumbh Sans", sans-serif;
  padding-inline: clamp(0rem, calc(-4.771rem + 20.356vw), 5rem);
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

/* Dark background filter for mobile navigation */
.dark-bg {
  position: fixed;
  inset: 0;
  background-color: hsl(0 0% 0%);
  opacity: 0.75;
}

/* Header */
.header-outer {
  padding-block: var(--sp-300);
  padding-inline: clamp(0rem, calc(2.931rem - 6.107vw), 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
}

.header-left {
  display: flex;
  gap: var(--sp-200);
  align-items:baseline;
}

.header-right {
  display: flex;
  gap: clamp(var(--sp-300), calc(0.069rem + 6.107vw), var(--sp-600));
}

.nav-button {
  z-index: 100;
}

.nav-button:hover,
.cart-icon:hover {
  transition: filter 250ms ease;
  filter: brightness(10%);
}

.profile img {
  width: clamp(1.5rem, calc(-0.051rem + 6.616vw), 3.125rem);
  border-radius: 50%;
  outline: solid 2px transparent;
}

.profile:hover img {
  outline-color: var(--c-orange-500);
}

.primary-nav {
  position: fixed;
  inset: 0 33% 0 0;
  display: flex;
  flex-direction: column;
  gap: clamp(var(--sp-300), calc(1.023rem + 2.036vw), var(--sp-400));
  background-color: var(--c-white);
  list-style: none;
  padding-inline: clamp(var(--sp-300), calc(-1.84rem + 14.249vw), var(--sp-1000));
  padding-block-start: var(--sp-1200);
  transform: translateX(-100%);
  transition: transform 250ms ease;
}

.show-primary-nav {
  transform: translatex(0%);
}

.nav-link {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
}

/* Visually hidden classes */
.visually-hidden {
  display: none;
}